{% extends 'base.html.twig' %}

{% block title %}Bienvenu - Decouvrez les recettes{% endblock %}

{% block body %}
<style>
</style>

<div class="bg-dark d-flex shadow rounded overflow-hidden">
  <div>
    <img class="img-fluid" src="/images/chef-cuisinier.jpeg" alt="chef-cuisine">
  </div>
  <div class="text-center d-flex">
    <div class="align-self-center">
      <h1 class="text-info">Le chef de cuisine, c'est vous !</h1>
      <a href="{{ url('recipe.index') }}"
        class="text-white link-offset-2 link-underline-info link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        Découvrez les recettres et créez la votre ->
      </a>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="row gap-3">
    {% for recipe in recipes %}
    <div class="card col-4 shadow px-0 mx-auto" style="width: 15rem;">
      <img src="{{ recipe.thumbnail?vich_uploader_asset(recipe, 'thumbnailFile'):'/images/recipe_default.jpg' }}"
        class="card-img-top img-fluid" alt="recettes de cuisine" style="height:200px">
      <div class="card-body">
        <h5 class="card-title text-truncate">{{recipe.title}}</h5>
        <p class="card-text">Duration : {{recipe.duration}} minutes</p>
        <a href="{{ url('recipe.show', {'id':recipe.id, 'slug': recipe.slug, 'recipe': recipe}) }}"
          class="btn btn-primary">Détail</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}