{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}
{% endblock %}

{% block body %}
<h2>
  La catégtorie: {{ category.name }}
</h2>
<div class="container row">
  <div class="col-9 row gap-3">
    {% for recipe in recipes %}
    <div class="card col-4 shadow px-0" style="width: 15rem;">
      <img src="{{ recipe.thumbnail?vich_uploader_asset(recipe, 'thumbnailFile'):'/images/recipe_default.jpg' }}"
        class="card-img-top img-fluid" alt="recettes de cuisine" style="height:200px">
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">Duration : {{recipe.duration}} minutes</p>
        <a href="{{ url('recipe.show', {'id':recipe.id, 'slug': recipe.slug, 'recipe': recipe}) }}"
          class="btn btn-primary">Détail</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-3 text-center">
    <img src="/images/chef-cuisine.jpg" class="img-fluid rounded shadow" alt="hugo-recettes">
    <h4><a href="{{ url('admin_index' )}}">Créer la votre !</a></h4>
  </div>
</div>

{% endblock %}